.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.75rem;
  text-align: center;
}

.card-text {
  font-size: 1.25rem;
  max-width: 80%;
  margin: 30px auto;
  text-align: center;
}

#info {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.btn-warning {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  max-width: 40%;
}
