{% extends "layout.html" %}
{% block content %}
  <div class="container mt-4">
    <h1 class="mb-4">
      Our Worldly
      <br>
      <strong>Wine Experiences</strong>
    </h1>
    <div id="wineCarousel"
         class="carousel slide"
         data-ride="carousel"
         data-interval="false">
      <div class="carousel-inner">
        {% for wine in wines %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ wine.title }}</h5>
                <p class="card-text">{{ wine.description }}</p>
                <div id="info">
                  <p>
                    <strong>Available Spots:</strong> {{ wine.available_spots }} of {{ wine.total_spots }}
                  </p>
                  <p>
                    <strong>Date:</strong> {{ wine.date }}
                  </p>
                  <p>
                    <strong>Price:</strong> € {{ wine.price }} per person
                  </p>
                </div>
                <div class="about_tasting">
                  <h6>What to Expect</h6>
                  <p>{{ wine.what_to_expect }}</p>
                  <h6>Join Us For</h6>
                  <p>{{ wine.join_us_for }}</p>
                </div>
                {% if user.is_authenticated %}
                  <a href="{% url 'bookings:book' wine.id %}" class="btn btn-warning">Book Now</a>
                {% else %}
                  <a href="{% url 'bookings:register' %}" class="btn btn-warning">Uncork Access</a>
                {% endif %}
              </div>
            </div>
          </div>
        {% empty %}
          <div class="carousel-item active">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">No Experiences Available</h5>
                <p class="card-text">Currently, there are no wine experiences available.</p>
              </div>
            </div>
          </div>
        {% endfor %}

        <!-- Show message if this wine is the highlighted one -->
        {% if wine == highlighted_wine and message %}
          <div id="alert-message"
               class="alert alert-{{ message_type }} mt-2"
               role="alert">{{ message }}</div>
        {% endif %}
        
      </div>
      <!-- Carousel controls -->
      <a class="carousel-control-prev"
         href="#wineCarousel"
         role="button"
         data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next"
         href="#wineCarousel"
         role="button"
         data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
{% endblock content %}
