{% extends "layout.html" %}
{% block content %}
    <div class="container mt-4">
        <h1>{{ wine.title }}</h1>
        <p>{{ wine.description }}</p>
        <p>
            <strong>Available Spots:</strong> {{ wine.available_spots }}
        </p>
        <p>
            <strong>Price:</strong> €{{ wine.price }}
        </p>
        <p>
            <strong>Date:</strong> {{ wine.date }}
        </p>
        <h5>What to Expect</h5>
        <p>{{ wine.what_to_expect }}</p>
        <h5>Join Us For</h5>
        <p>{{ wine.join_us_for }}</p>
        {% if user.is_authenticated %}
            <a href="{% url 'bookings:book' wine.id %}" class="btn btn-primary">Book Now</a>
        {% else %}
            <a href="{% url 'bookings:register' %}" class="btn btn-warning">Sign Up to Book</a>
        {% endif %}
        <!-- Display messages -->
        {% if message %}
            {% for msg in message %}<div class="alert alert-{{ msg.tags }}" role="alert">{{ msg }}</div>{% endfor %}
        {% endif %}
    </div>
{% endblock content %}
